body{
    scroll-behavior: smooth;
    background-color: cadetblue;
}

header ul li a {
    transition: color 0.3s;
}

#projects img {
    transition: transform 0.3s ease-in-out
}

#projects img:hover{
    transform scale(1.05);
}