<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ups! Ocurrió un error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Ocurrió un error desconocido al procesar su solicitud</h2>
    </hgroup>
</body>
</html>
