@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Equipo #1<br />
    Steven Piedra Villalta<br />
    <abbr title="Phone">P:</abbr>
    8553 7992
    David Hernandez Ortiz<br />
    <abbr title="Phone">P:</abbr>
    163 4773508
    Andrés Hernandez Gonzales<br />
    <abbr title="Phone">P:</abbr>
    8343 4864
</address>

<address>
    <strong>Campus Virtual: </strong>   <a href="https://www.fidelitasvirtual.org/moodle3/login/index.php">Campus Virtual</a><br />
    <strong>Sistema Academico: </strong> <a href="https://sa.ufidelitas.ac.cr/login/login.aspx?ReturnUrl=%2fstudents%2fdefault.aspx">Sistema Academico</a>
</address>